<div class="container mt-4" >
    <div class="card">
        <h1>Employee Login</h1>
<form>

  <div class="form-group">
    <label>Name</label>
    <input type="text" [(ngModel)]="employeename" [ngModelOptions]="{standalone: true}"  class="form-control" id="name" class="form-control" placeholder="Enter Name">
  </div>

      <div class="form-group">
        <label>Paaword</label>
        <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="password" class="form-control" placeholder="Enter Password">
      </div>

     <button type="submit" class="btn btn-primary" (click)="Login()">Login</button>
     <br>
     <a href="" routerLink="/register" class="text-primary"> new to the website? Register Here</a>

  </form>
</div>

</div>